@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global overrides */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  background-color: var(--background-color); /* Use variable */
  color: var(--text-color); /* Use variable */
}

a {
  text-decoration: none;
  color: inherit;
}

/* Modal container override */
.modal-container {
  @apply bg-white text-black shadow-lg rounded-lg p-6 w-full max-w-sm;
}

.dark .modal-container {
  @apply text-black; /* Ensure text remains black in dark mode */
}
