:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #4caf50; /* Light mode primary */
  --secondary-color: #ff9800; /* Light mode secondary */
}

.dark {
  --background-color: #121212; /* Dark background */
  --text-color: #ffffff; /* Dark text */
  --primary-color: #388e3c; /* Dark mode primary */
  --secondary-color: #f57c00; /* Dark mode secondary */
}

/* Modal-specific styling */
.modal-container {
  color: #000000; /* Force black text for modal content */
  background-color: var(--background-color); /* Dynamic background */
}

.dark .modal-container {
  color: #fefefe; /* Ensure text stays black in dark mode */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--primary-color);
}

.button {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.product-name {
  color: #000000; /* Always black */
  font-size: 1.125rem; /* Tailwind equivalent of text-lg */
  font-weight: 600; /* Tailwind equivalent of font-semibold */
}
