@import "./styles/globals.css"; /* Global Tailwind or other styles */
@import "./styles/theme.css"; /* Theme styles */

/* Ensure full height for the root layout */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
